<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  *{
    /* color: white; */
    /* background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg'); */
  }
.attendance-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.attendance-table th, .attendance-table td {
  padding: 10px;
  border: 1px solid #ccc;

}
body{
    background-image: url('https://media.istockphoto.com/id/1341453707/vector/3d-vector-conceptual-illustration-of-paper-test.jpg?s=612x612&w=is&k=20&c=afXXr7UQPQ_GVpSEwLqjN5hDM9QGNZXBwCJzmpZw0f8=');
  }
</style>
<div class="container">
  <div class="row" style="display:flex;">
    <div class="col-lg-12 col-md-8 col-sm-4"></div>
    <div class="col-lg-12 col-md-8 col-sm-4">
      <label for="days">Number of Days:</label>
      <input type="number" id="days" name="days" min="1" max="<%= details.length %>" value="7">
      <button id="filter-btn">Filter</button>
    </div>
  </div>
  <div class="row" id="attendance-container"> <!-- Add an ID here to select the attendance container later -->
    <% for (let i=details.length-1; i >= 0; i--) { %>
      <table class="table table-bordered attendance-table" style=" color: black;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Attendance Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="<%= details[i].status.length %>"><%= details[i].date%></td>
            <% for (let j=0; j < details[i].status.length; j++) { %>
              <td><%= details[i].status[j].name %></td>
              <td><%= details[i].status[j].isPresent %></td>
            </tr>
            <% if (j < details[i].status.length - 1) { %>
              <tr>
            <% } %>
            <% } %>
          </tbody>
      </table>
      <br>
    <% } %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#filter-btn').on('click', function() {
      const days = $('#days').val();
      $('#attendance-container .attendance-table').hide(); // Hide all attendance tables within the container
      $('#attendance-container .attendance-table:lt(' + days + ')').show(); // Show the first "days" attendance tables
    });
  });
</script>
