<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
<style>
  a{
    color: white;
  }
  body{
        margin: 0px;
        padding: 0px;
       }
  
</style>
<div class="header-w3layouts">
  <div class="container-fluid">
    <!--//navigation section -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="hedder-up">
        <h2><a href="#"><img src="/images/body-builder-7320519_960_720.png" style="width: 30px;height: 30px;color: #000;" alt=""> My-Gym</a></h2>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" data-aos="fade-left">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: rgb(255, 255, 255);">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="workout" class="nav-link" style="color: rgb(255, 246, 246);">workout</a>
          </li>
          <li class="nav-item">
            <a href="/attendance/<%=user.name %>" class="nav-link" style="color: rgb(255, 255, 255);">Attendance</a>
            <% console.log(user.name); %>
          </li>
          <li class="nav-item">
            <a href="/equipment" class="nav-link scroll" style="color: rgb(255, 255, 255);">Equipments</a>
          </li>
          <li class="nav-item">
            <a href="/recipe" class="nav-link scroll" style="color: rgb(255, 255, 255);">Recipes</a>
          </li>
        </ul>
         <a class="btn btn-primary" href="/logout" style="color: rgb(255, 255, 255); ">Logout</a>
      </div>
    </nav>
    <!--//navigation section -->
    <div class="clearfix"> </div>
  </div>
</div>
  <div class="header-outs" id="header">
    <!--banner -->
    <div class="container">
      <div class="banner-slide-img" data-aos="fade-up">
        <div class="slider">
          <div class="callbacks_container">
            <ul class="rslides" id="slider4">
              <li>
                <div class="slider-img">
                  <div class="slider-info ">
                    <h1>Your Streak  <%=streak %> <img src="images/fire.png" style="width: 50px;" alt=""></h1>
                    <h3>Pending Day <%=payment.pendingday %></h3>
                    <h4>Fitness is Good</h4>
                    <h5> Grow Your Strength</h5>
                    <div class="mt-3 outs_more-buttn">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- About-one --> 
  <div>
    <style>
      .wrapper{display: flex;justify-content: space-evenly;align-items: center;height: 100vh;background:#f5efef}.profile{position: relative;width: 300px;height: 350px;background:url('https://i.imgur.com/sAtgYjl.jpg');background-size: cover;cursor: pointer;border: 12px;border-top-right-radius: 35px !important;border-radius: 6px}.overlay{width: 100%;height: 100%;background:rgba(0,0,0,0.8);border-radius: 12px;cursor: pointer;opacity: 0;transition: all 1s;border-top-right-radius: 35px !important;border-radius: 6px}.profile:hover .overlay{opacity: 1}.social-icons{display: flex;list-style: none;bottom: 10px;position: absolute;text-align: center;justify-content: center;left: 22px}.social-icons li{width: 25px;height: 25px;border: 1px solid #eee;padding: 20px;margin-right: 10px;display: flex;justify-content: center;align-items: center;color: #fff;border-radius: 5px;transition: all 1s}.social-icons li:hover{background:#fff;color: #000}.overlay .about{position: relative;justify-content: center;align-items: center;display: flex;top:40%;color: #fff;flex: column}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="wrapper">
      <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3" style="color: black;">Profile</h3>
      <div class="profile" style="background-image: url('/<%=user.photo %>');">
          <div class="overlay">
              <div class="about d-flex flex-column">
                  <h4><%=user.name%></h4> <span><%=user.username %></span>
                  <span><%=user.email %></span>
                  <span><%=user.number%></span>
                  <span><%=user.weight%></span>
              </div>
              <ul class="social-icons">
                  <li><i class="fa fa-facebook"></i></li>
                  <li><i class="fa fa-linkedin"></i></li>
                  <li><i class="fa fa-instagram"></i></li>
                 <li><a href="/update/<%=user._id%>"><i class="far fa-edit"></i></a></li> 
              </ul>
          </div>
      </div>
      <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3" style="color: black;">Admin</h3>
      <%admindata.forEach(el => { %>
      <div class="profile" style="background-image: url('/<%=el.photo %>'); ">
        <div class="overlay">
            <div class="about d-flex flex-column">
                <h4><%=el.name%></h4> 
                <span><%=el.email %></span>
                <span><%=el.number%></span>
            </div>
            <ul class="social-icons">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-twitter"></i></li>

            </ul>
        </div>
    </div>
    <% }); %>
  </div>
    </div>

  <!--//clients-->