<!-- payment.ejs-->
<form action="/verifypayment" method="post">
    <input id="value" type="hidden" name="order_id" value="<%= order_id %>">
    <input type="hidden" name="userId" value="<%= user_id %>">
    <input type="hidden" name="username" value="<%= user %>">
    <input type="hidden" name="number" value="<%= phone %>">
    <input type="hidden" name="amount" value="<%= amount %>">
    <input type="hidden" name="day" value="90">
    <!-- <input type="date" name="date" value="<#%= getCurrentDate() %>"> -->

    <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="<%= key_id %>"
      data-currency="INR"
      data-order_id="<%= order_id %>"
      data-buttontext="Pay 3 month"
      data-name="GYM"
      data-description="Purchase Description"
      data-prefill.name="John Doe"
      data-prefill.email="john.doe@example.com"
      data-theme.color="#F37254"
    ></script>
    <button type="submit">payment</button>
  </form> 
  
  <style>
    .razorpay-payment-button{
      display: none;
    }
  </style>

